$color-primary-0: #BF0E00;  // Main Primary Red */
$color-primary-1: #FF1300;
$color-primary-2: #E71100;
$color-primary-3: #980B00;
$color-primary-4: #680800;

$color-secondary-0: #016775;  // Main Secondary Blue (1) */
$color-secondary-1: #03A0B6;
$color-secondary-2: #027C8D;
$color-secondary-3: #01515D;
$color-secondary-4: #003840;

$color-tertiary-0: #6FB100;  // Main Secondary Green */
$color-tertiary-1: #98F100;
$color-tertiary-2: #87D600;
$color-tertiary-3: #598C00;
$color-tertiary-2-4: #3D6100;

$black0: #000000;  // Blacks and Greys */
$grey: #7F7E7E;
$darker-grey: #464646;

body {
    margin-top: 60px;
}

.playerDetailName {
    color: $color-primary-0
}

.opponentDetailName {
    color: $color-secondary-0
}

// Start of Form

.form-group{
    margin-bottom: 15px;
}

label{
    margin-bottom: 10px;
}

.form-control {
    height: auto!important;
    padding: 8px 12px !important;
}

.input-group {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
}

.main-center{
    margin-top: 30px;
    margin: 0 auto;
    max-width: 400px;
    padding: 10px 40px;
    background:$color-primary-0;
    color: #FFF;
    text-shadow: none;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
}

span.input-group-addon i {
    color: $color-secondary-0;
    font-size: 17px;
}

.hand-radio-group {
    background: $color-secondary-0;
}

.hand-radio-button {
    padding-top: 10px;
    padding-left: 30px;
    display: inline-block;
}

.login-button{
    margin-top: 5px;
    background: $color-secondary-0
}

.login-register{
    font-size: 11px;
    text-align: center;
}

// End of Form