<div class="container" ng-init="init()" ng-controller="GameReportCtrl">
    <div class="row">
        <div class="col-sm-8 col-md-4">
        <h1>Report a Game</h1>
            <button ng-click="
            showTwoPlayerGameForm = true;
            showFourPlayerGameForm = false;
            showGamePrompt = false;"
            class="btn btn-primary btn-lg btn-block login-button">
            Singles Game
            </button>

            <button ng-click="
            showFourPlayerGameForm = true;
            showTwoPlayerGameForm = false;
            showGamePrompt = false"
            class="btn btn-primary btn-lg btn-block login-button">
            Doubles Game
            </button>
        </div>

        <!-- Two Player Game Form -->
    <div ng-show="showTwoPlayerGameForm">
        <div class="row main">
            <div class="main-login main-center">
            <h2>Singles Game</h2>
                <form class="" method="post" action="#">

                    <div class="form-group">
                        <label for="playerOne" class="cols-sm-2 control-label">Player One</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                <select ng-model="twoPlayerGame.playerOneId" class="form-control player-select-dropdown">
                                <option>Select a Player</option>
                                    <option
                                    ng-repeat="p in $parent.dataCache.playerData"
                                    value="{{p.playerId}}">{{p.firstName}} {{p.lastName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="playerOneScore" class="cols-sm-2 control-label">Player One Score</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                <input type="number" min="0" max="31" class="form-control" name="playerOneScore" id="playerOneScore" ng-model="twoPlayerGame.teamOneScore" placeholder="Player One Score"/>
                            </div>
                        </div>
                    </div>

                    <hr>

                    <div class="form-group">
                        <label for="playerTwo" class="cols-sm-2 control-label">Player Two</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                <select ng-model="twoPlayerGame.playerTwoId" class="form-control player-select-dropdown">
                                <option>Select a Player</option>
                                    <option
                                    ng-repeat="p in $parent.dataCache.playerData"
                                    value="{{p.playerId}}">{{p.firstName}} {{p.lastName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="playerTwoScore" class="cols-sm-2 control-label">Player Two Score</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                <input type="number" min="0" max="31" class="form-control" name="playerTwoScore" id="playerTwoScore" ng-model="twoPlayerGame.teamTwoScore" placeholder="Player Two Score"/>
                            </div>
                        </div>
                    </div>

                    <div class="form-group ">
                        <a type="button" ng-click="submitScores(twoPlayerGame)" id="button" class="btn btn-primary btn-lg btn-block login-button">Submit</a>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <!-- Four Player Game Form -->
    <div ng-show="showFourPlayerGameForm">
        <div class="row main">
            <div class="main-login main-center">
            <h2>Doubles Game</h2>
                <form class="" method="post" action="#">
                    <h4>Team One</h4>
                    <div class="form-group">
                        <label for="playerOne" class="cols-sm-2 control-label">Player One</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                <select ng-model="fourPlayerGame.playerOneId" class="form-control player-select-dropdown">
                                <option>Select a Player</option>
                                    <option
                                    ng-repeat="p in $parent.dataCache.playerData"
                                    value="{{p.playerId}}">{{p.firstName}} {{p.lastName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="playerTwo" class="cols-sm-2 control-label">Player Two</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                <select ng-model="fourPlayerGame.playerTwoId" class="form-control player-select-dropdown">
                                <option>Select a Player</option>
                                    <option
                                    ng-repeat="p in $parent.dataCache.playerData"
                                    value="{{p.playerId}}">{{p.firstName}} {{p.lastName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="teamOneScore" class="cols-sm-2 control-label">Team One Score</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                <input type="number" min="0" max="31" class="form-control" name="teamOneScore" id="teamOneScore" ng-model="fourPlayerGame.teamOneScore" placeholder="Team One Score"/>
                            </div>
                        </div>
                    </div>

                    <hr>

                    <div class="form-group">
                    <h4>Team Two</h4>
                        <label for="playerThree" class="cols-sm-2 control-label">Player Three</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                <select ng-model="fourPlayerGame.playerThreeId" class="form-control player-select-dropdown">
                                <option>Select a Player</option>
                                    <option
                                    ng-repeat="p in $parent.dataCache.playerData"
                                    value="{{p.playerId}}">{{p.firstName}} {{p.lastName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="playerTwo" class="cols-sm-2 control-label">Player Four</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                <select ng-model="fourPlayerGame.playerFourId" class="form-control player-select-dropdown">
                                <option>Select a Player</option>
                                    <option
                                    ng-repeat="p in $parent.dataCache.playerData"
                                    value="{{p.playerId}}">{{p.firstName}} {{p.lastName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="teamTwoScore" class="cols-sm-2 control-label">Team Two Score</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                <input type="number" min="0" max="31" class="form-control" name="teamTwoScore" id="teamTwoScore" ng-model="fourPlayerGame.teamTwoScore" placeholder="Team Two Score"/>
                            </div>
                        </div>
                    </div>

                    <div class="form-group ">
                        <a type="button" ng-click="submitScores(fourPlayerGame)" id="button" class="btn btn-primary btn-lg btn-block login-button">Submit</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>