<div ng-show="!$parent.dataCache.playerData" class="loadingDiv">
    P ... I ... N ... G ...
</div>

<div ng-show="$parent.dataCache.playerData" class="container" ng-init="init()" ng-controller="HomeCtrl">

    <div class="alert alert-info">
        <p>Sort Type: {{ sortType }}</p>
        <p>Sort Reverse: {{ sortReverse }}</p>
        <p>Search Query: {{ searchPlayer }}</p>
    </div>

    <form>
        <div class="form-group">
            <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-search"></i></div>
            <input type="text" class="form-control" placeholder="Search" ng-model="searchPlayer">
            </div>
        </div>
    </form>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <td>
                    <a href="#!/" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                        Name
                        <span ng-show="sortType == 'name'" class="fa fa-caret-down"></span>
                    </a>
                </td>
                <td>
                    <a href="#!/" ng-click="sortType = 'cohort'; sortReverse = !sortReverse">
                        Cohort
                        <span ng-show="sortType == 'cohort'" class="fa fa-caret-down"></span>
                    </a>
                </td>
                <td>
                    <a href="#!/" ng-click="sortType = 'games'; sortReverse = !sortReverse">
                        Games
                        <span ng-show="sortType == 'games'" class="fa fa-caret-down"></span>
                    </a>
                </td>
                <td>
                    <a href="#!/" ng-click="sortType = 'wins'; sortReverse = !sortReverse">
                        Wins
                        <span ng-show="sortType == 'wins'" class="fa fa-caret-down"></span>
                    </a>
                </td>
                <td>
                    <a href="#!/" ng-click="sortType = 'losses'; sortReverse = !sortReverse">
                        Losses
                        <span ng-show="sortType == 'losses'" class="fa fa-caret-down"></span>
                    </a>
                </td>
                <td>
                    <a href="#!/" ng-click="sortType = 'winPercentage'; sortReverse = !sortReverse">
                        Win Percentage
                        <span ng-show="sortType == 'winPercentage'" class="fa fa-caret-down"></span>
                    </a>
                </td>
                <td>
                    <a href="#!/" ng-click="sortType = 'avgPointDiff'; sortReverse = !sortReverse">
                        Average Point Differential
                        <span ng-show="sortType == 'avgPointDiff'" class="fa fa-caret-down"></span>
                    </a>
                </td>
                <td>
                    <a href="#!/" ng-click="sortType = 'rating'; sortReverse = !sortReverse">
                        Rating
                        <span ng-show="sortType == 'rating'" class="fa fa-caret-down"></span>
                    </a>
                </td>
            </tr>
        </thead>

        <tbody>
        <tr ng-repeat="p in $parent.dataCache.playerData | orderBy:sortType:sortReverse | filter:searchPlayer">
            <td><a ng-href="#!/players/{{p.playerId}}">{{ p.lastName}}, {{ p.firstName }}</a></td>
            <td>{{ p.cohort | number}}</td>
            <td>{{ p.stats.games | number }}</td>
            <td>{{ p.stats.wins | number }}</td>
            <td>{{ p.stats.losses | number}}</td>
            <td>{{ p.stats.winPercentage | number}}</td>
            <td>{{ p.stats.avgPointDiff | number}}</td>
            <td>{{ p.stats.rating | number}}</td>
        </tr>
        </tbody>

    </table>

</div>