<div ng-init="init()">
    <h1>Create a New Player</h1>
    <form>
        <div class="form-inline">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" ng-model="newPlayer.firstName">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" ng-model="newPlayer.lastName">
        </div>
        <div class="form-group">
            <label for="cohort">Cohort</label>
            <input type="number" step="1" class="form-control" id="cohort" ng-model="newPlayer.cohort">
            <label for="hand">Left Handed?</label>
            <label class="radio-inline"><input type="radio" name="hand" ng-value="true" ng-model="newPlayer.leftHanded">Yes</label>
            <label class="radio-inline"><input type="radio" name="hand" ng-value="false" ng-model="newPlayer.leftHanded">No</label>
        </div>
    </form>
</div>
