<div ng-show="player" class="container" ng-init="init()" ng-controller="PlayerDetailCtrl">

    <h3>
        <span class="playerDetailName">{{player.firstName}} {{player.lastName}} (Cohort {{player.cohort}})</span> vs
        <span class ="opponentDetailName" ng-hide="comparePlayer">Average Player Stats</span>
        <span class ="opponentDetailName" ng-show="comparePlayer">{{comparePlayer.firstName}} {{comparePlayer.lastName}} (Cohort {{comparePlayer.cohort}})</span>
    </h3>

    <label for="comparePlayerSelect">Compare to </label>
    <select id="comparePlayerSelect" ng-change="getComparePlayer(compareSearchId)" ng-model="compareSearchId">
        <option value="averagePlayer">Average Player Stats</option>
        <option
        ng-repeat="p in $parent.dataCache.playerData"
        value="{{p.playerId}}">{{p.firstName}} {{p.lastName}}
        </option>
    </select>
    <div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <td>
                    Name
                </td>
                <td>
                    Games
                </td>
                <td>
                    Wins
                </td>
                <td>
                    Losses
                </td>
                <td>
                    Win Percentage
                </td>
                <td>
                    Singles Win Percentage
                </td>
                <td>
                    Doubles Win Percentage
                </td>
                <td>
                    Average Point Differential
                </td>
                <td>
                    Rating
                </td>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td><a ng-href="#!/players/{{player.playerId}}">{{ player.lastName}}, {{ player.firstName }}</a></td>
                <td><span class="playerDetailName">{{ player.stats.games | number }}</span></td>
                <td><span class="playerDetailName">{{ player.stats.wins | number }}</span></td>
                <td><span class="playerDetailName">{{ player.stats.losses | number}}</span></td>
                <td><span class="playerDetailName">{{ player.stats.winPercentage | number}}</span></td>
                <td><span class="playerDetailName">{{ player.stats.singlesWinPercentage | number}}</span></td>
                <td><span class="playerDetailName">{{ player.stats.doublesWinPercentage | number}}</span></td>
                <td><span class="playerDetailName">{{ player.stats.avgPointDiff | number}}</span></td>
                <td><span class="playerDetailName">{{ player.stats.rating | number}}</span></td>
            </tr>
            <tr ng-hide="comparePlayer">
                <td>Average Player Stats</td>
                <td><span class="opponentDetailName">{{ $parent.dataCache.avgPlayerStats.games | number }}</span></td>
                <td><span class="opponentDetailName">{{ $parent.dataCache.avgPlayerStats.wins | number }}</span></td>
                <td><span class="opponentDetailName">{{ $parent.dataCache.avgPlayerStats.losses | number}}</span></td>
                <td><span class="opponentDetailName">{{ $parent.dataCache.avgPlayerStats.winPercentage | number}}</span></td>
                <td><span class="opponentDetailName">{{ $parent.dataCache.avgPlayerStats.singlesWinPercentage | number}}</span></td>
                <td><span class="opponentDetailName">{{ $parent.dataCache.avgPlayerStats.doublesWinPercentage | number}}</span></td>
                <td><span class="opponentDetailName">{{ $parent.dataCache.avgPlayerStats.avgPointDiff | number}}</span></td>
                <td><span class="opponentDetailName">{{ $parent.dataCache.avgPlayerStats.rating | number}}</span></td>
            </tr>
            <tr ng-show="comparePlayer">
                <td><a ng-href="#!/players/{{comparePlayer.playerId}}">{{ comparePlayer.lastName}}, {{ comparePlayer.firstName }}</a></td>
                <td><span class="opponentDetailName">{{ comparePlayer.stats.games | number }}</span></td>
                <td><span class="opponentDetailName">{{ comparePlayer.stats.wins | number }}</span></td>
                <td><span class="opponentDetailName">{{ comparePlayer.stats.losses | number}}</span></td>
                <td><span class="opponentDetailName">{{ comparePlayer.stats.winPercentage | number}}</span></td>
                <td><span class="opponentDetailName">{{ comparePlayer.stats.singlesWinPercentage | number}}</span></td>
                <td><span class="opponentDetailName">{{ comparePlayer.stats.doublesWinPercentage | number}}</span></td>
                <td><span class="opponentDetailName">{{ comparePlayer.stats.avgPointDiff | number}}</span></td>
                <td><span class="opponentDetailName">{{ comparePlayer.stats.rating | number}}</span></td>
            </tr>
        </tbody>
    </table>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h4>Game Totals</h4>
            <canvas id="radar" class="chart chart-radar"
              chart-data="radarGraphData" chart-options="radarOptions" chart-colors="colors" chart-labels="radarLabels">
            </canvas>
        </div>
        <div class="col-md-6">
            <h4>Win Percentages</h4>
            <canvas id="radarPerc" class="chart chart-radar"
              chart-data="radarPercGraphData" chart-options="radarOptions" chart-colors="colors" chart-labels="radarPercLabels">
            </canvas>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h4>Average Point Differential</h4>
            <canvas id="bar" class="chart chart-bar"
              chart-data="pointDiffData" chart-options="barOptions" chart-colors="colors" chart-labels="pointDiffLabels">
            </canvas>
        </div>
        <div class="col-md-6">
            <h4>Rating</h4>
            <canvas id="bar" class="chart chart-bar"
              chart-data="ratingData" chart-options="barOptions" chart-colors="colors" chart-labels="ratingLabels">
            </canvas>
        </div>
    </div>

</div>